/* Pc */
@media (min-width: 1024px){
    .hide-on-pc{
        display: none;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px){
    .hide-on-mobile-tablet{
        display: none;
    }
    .navbar__input{
        margin-left: 0px;
    }
    .container__wrap{
        width: 100%;
        max-width: 600px;
        display: block;
        padding: 0;
    }
    .suggest{
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
    .explore__row{
        margin-bottom: 24px;
    }
}

/* Mobile */
@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
    .navbar__input{
        display: none;
    }
    .content__main-des-cmt h2{
        padding-top: 10px;
    }
    .modal__wrap{
        width: 260px;
    }
    .message__wrap{
        grid-template-columns: 53% 47%;
    }
    .explore__row{
        margin-bottom: 4px;
    }
    .explore__wrap{
        padding: 0;
    }
    .row {
        margin-left: -2px;
        margin-right: -2px;
    }
    .col {
        padding-left: 2px;
        padding-right: 2px;
    }
    .notify{
        width: 385px;
    }
    .notify__item .notify__item-img,
    .notify__item img{
        width: 40px;
        height: 40px;
    }
    .create__main-content{
        padding: 95px 0;
    }
}