@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap');
:root{
    --white-color: #fff;
    --black-color: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
    scroll-behavior: smooth;
}

html{
    /* HACK 1rem = 10px*/
    font-size: 62.5%;
    line-height: 1.6px;
    scroll-behavior: smooth;
}

body{
    background-color: #FAFAFA;
    font-family: 'roboto', sans-serif;
    position: relative;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--white-color);
    z-index: 200;
    border-bottom: 1px solid rgb(219, 219, 219);
    display: flex;
    justify-content: center;
}

.navbar__wrap{
    width: 100%;
    max-width: 975px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logo{
    padding-top: 10px;
    cursor: pointer;
}

.navbar__input{
    width: 268px;
    height: 36px;
    background-color: #EFEFEF;
    border-radius: 8px;
    font-size: 1.6rem;
    color: rgb(142, 142, 142);
    margin-left: 169px;
    position: relative;
}

.search__logo{
    /* display: none; */
    padding-left: 16px;
}
.search__close{
    font-size: 1.2rem;
    cursor: pointer;
}

.search__input{
    height: 100%;
    background-color: #EFEFEF;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 40px;
    border-radius: 8px;
}

.hide{
    display: none !important;
}

.active2{
    display: flex !important;
}

.navbar__list{
    display: flex;
    justify-content: space-between;
}

.navbar__list-item{
    height: 24px;
    width: 24px;
    margin: 0 11px;
    cursor: pointer;
    position: relative;
    transition: top linear 0.5s;
}

.navbar__list-item:hover{
    top: -4px;
}

.navbar__list-user{
    height: 24px;
    width: 24px;
    background-color: red;
    border-radius: 50%;
    display: inline;
    text-align: center;
}

.navbar__user{
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    object-fit: cover;
    position: relative;
}

.search__history{
    width: 375px;
    height: 362px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--white-color);
    border-radius: 4px;
    padding: 12px 0;
    top: 48px;
    position: absolute;
    right: -52px;
    /* display: none; */
    animation: fadeIn ease 0.5s;
    z-index: 200;
    box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
}

@keyframes fadeIn {
    from { 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.search__history::before{
    position: absolute;
    content: "";
    right: 174px;
    top: -8px;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    transform: rotate(45deg);
}


.search__history-header{
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
}

.search__history-header--recently{
    font-size: 1.6rem;
    line-height: 24px;
    color: var(--black-color);
}

.search__history-header--clear{
    font-size: 1.4rem;
    line-height: 24px;
    color: #0095f6;
    font-weight: 600;
    cursor: pointer;

}
.search__history-header--clear:hover{
    color: #113af0;
}

.search__history-list{
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.search__history-list:hover{
    background-color: rgb(248, 246, 246);
}

.search__history-list-img{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.search__history-list--info{
    display: flex;
    flex-direction: column;
}

.search__history-list--info span{
    margin-right: 140px;
}

.search__history-list--info span:nth-child(1){
    color: black;
}

.search__history-list--info span:nth-child(2){
    padding-top: 18px;
    color: #8e8e8e;
}

.search__history-list--icon{
    margin-right: 10px;
}

.search__history-list--icon:hover{
    font-size: 1.8rem;
    color: red;
    transform: rotate(90deg);
}

.navbar__user-wrap{
    position: relative;
}

.navbar__login{
    position: absolute;
    width: 230px;
    top: 42px;
    right: -22px;
    background-color:var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
}

.navbar__login-item{
    cursor: pointer;
    padding: 8px 16px;
}

.navbar__login-item:hover{
    background-color: rgb(248, 246, 246);
}

.navbar__login-icon{
    margin-right: 12px;
    font-size: 1.6rem;
}

.navbar__login-text{
    font-size: 1.4rem;
    line-height: 18px;
}

.navbar__login-out{
    display: block;
    width: 100%;
    padding: 12px 16px;
    font-size: 1.4rem;
    line-height: 18px;
    border-top: 2px solid #dbdbdb;
    cursor: pointer;
}

.navbar__login-out:hover{
    background-color: rgb(248, 246, 246);
}

.navbar__login::before{
    position: absolute;
    content: "";
    right: 38px;
    top: -8px;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    transform: rotate(45deg);
}

.container{
    width: 100%;
    margin-top: 89px;
    display: flex;
    justify-content: center;
}

.container__wrap{
    width: 100%;
    max-width: 975px;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-gap: 28px;
    overflow: hidden;
    padding: 0 20px;
} 

.content__header{
    width: 100%;
    border: 1px solid rgb(219, 219, 219);
    margin-bottom: 24px;
}

.content__header-slider{
    width: 100%;
    height: 116px;
    padding-left: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.content__header-item{
    padding: 0 10px;
}

.content__header-img{
    border: 3px solid rgb(196, 89, 89);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
}

.content__header-img img{
    height: 52px;
    width: 52px;
    right: 1px;
    top: 1px;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}

.content__header-title{
    color: #262626;
    font-size: 1.2rem;
    line-height: 12px;
    padding-top: 10px;
    font-weight: 400;
    cursor: pointer;
}


.content__main{
    margin-bottom: 24px;
    border: 1px solid rgb(219, 219, 219);
}

.content__main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
}

.content__main-header-info{
    display: flex;
    align-items: center;
}

.content__main-header-logo{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgb(224, 85, 85);
    cursor: pointer;
}
.content__main-header-logo img{
    width: 100%;
    object-fit: contain;
}

.content__main-header-text{
    font-size: 1.4rem;
    padding-left: 14px;
    color: #262626;
    font-weight: 600;
    cursor: pointer;
}

.content__main-header-textwrap{
    display: flex;
    align-items: center;
}

.content__main-header-verified{
    width: 14px;
    height: 14px;
    margin-left: 8px;
}

.content__main-header-icon{
    font-size: 1.3rem;
    cursor: pointer;
}

.content__main-header-icon:hover{
    font-size: 1.6rem;
    color: #0095f6;
}

.content__main-des{
    margin-top: 4px;
}

.content__main-des-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px;
}

.content__main-des-icon--interact{
    position: relative;
}

.content__main-des-icon--interact svg{
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin: 0 8px;
}

.content__main-des-icon--interact-wrap{
    padding-left: 42px;
}

.content__main-des-icon--save svg:hover,
.content__main-des-icon--interact svg:hover{
    opacity: 0.5;
}

.love_active{
    color: rgb(237, 73, 86);
    fill: rgb(237, 73, 86);
    font-size: 24px;
    cursor: pointer;
    margin: 0 8px;
    position: absolute;
    padding-top: -13px;
    top: 1px;
    right: 84px; 
}

.love{
    font-size: 24px;
    cursor: pointer;
    margin: 0 8px;
    position: absolute;
    padding-top: -13px;
    top: 1px;
    right: 84px;
}

.content__main-des-icon--save svg{
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin: 0 8px;
}

.content__main-des-cmt{
    width: 100%;
    padding: 0 16px;
}

.content__main-des-cmt span{
    display: block;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #262626;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 600;
}

.content__main-des-name{
    display: inline-block !important;
    margin-right: 5px;
    padding-top: 2px !important;

}

.content__main-des-cmt p{
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.content__main-des-cmt h2{
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #8e8e8e;
    padding-bottom: 16px;
    padding-top: 10px;
    font-weight: 400;
}

.content__main-des-cmt h3{
    font-size: 1rem;
    line-height: 1rem;
    color: #8e8e8e;
    padding-bottom: 16px;
    font-weight: 400;
}

.content__main-des-footer{
    width: 100%;
    border-top: 1px solid rgba(var(--ce3,239,239,239),1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__main-des-footer-cmt{
    display: flex;
    align-items: center;
    width: 585px;
    padding-left: 16px;
}

.content__main-des-footer-cmt input{
    color: #8e8e8e;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding-left: 16px;
    background-color: #FAFAFA;
    width: 100%;
}

.content__main-des-footer--icon{
    height: 24px;
    width: 25px;
    cursor: pointer;
}

.content__main-des-footer span{
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #0095f6;
    opacity: 0.4;
    padding: 14px 16px;
    cursor: pointer;
}

.content__offer{
    border: 1px solid rgb(219, 219, 219);
    margin-bottom: 24px;
    padding: 20px 0;
}

.content__offer-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.content__offer-header span{
    display: block;
}

.content__offer-header span:nth-child(1){
    color: #8e8e8e;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 18px;
    opacity: 0.9;
}

.content__offer-header span:nth-child(2){
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 600;
    font-weight: 600;
    color: #0095f6;
    opacity: 0.8;
    cursor: pointer;
}

.content__offer-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 14px;
    overflow: hidden;
}

.content__offer-item{
    border: 1px solid rgb(219, 219, 219);
    width: 174px !important;
    max-width: 33.3333%;
    margin-left: 13px;
    margin-right: 13px;
}

.content__offer-item span{
    color: #8e8e8e;
    font-size: 1.2rem;
    line-height: 12px;
    display: block;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 4px;
}

.content__offer-item--btn{
    width: 100%;
    display: flex;
    margin: 20px auto;
}

.content__button{
    background-color: #0095f6;
    color: white;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 6px 35px;
    cursor: pointer;
    z-index: 2;
    margin: auto;
}

.content__button:hover{
    background-color: #5140ee;
}

.button__active{
    background-color: white;
    color: #262626;
    border: 1px solid rgb(219, 219, 219);
    padding: 6px 24px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 500;
    margin: auto;
    cursor: pointer;
}

.button__active:hover{
    background-color: rgb(248, 246, 246);
}

.content__offer-close{
    display: flex;
    justify-content: flex-end;
    padding: 12px 12px 0 0;
    color: #8e8e8e;
    cursor: pointer;
}

.content__offer-close i:hover{
    color: red;
    transform: rotate(90deg);
}

.content__offer-img{
    width: 54px !important; 
    height: 54px;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
}

.content__offer-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.content__offer-info span{
    font-size: 1.4rem;
    line-height: 16px;
    color: #262626;
    font-weight: 600;
    cursor: pointer;
}

.content__offer-info img{
    width: 14px;
    height: 14px;
    margin: 0 0 2px 6px;
}

.suggest{
    width: 90%;
    padding-top: 20px;
}

.suggest__main{
    position: fixed;
    width: 300px;
}

.suggest__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggest__header-user{
    display: flex;
    align-items: center;
}

.suggest__header-user img{
    height: 56px;
    width: 56px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgba(209, 61, 61, 0.822);
    margin-right: 20px;
    cursor: pointer;
}
.suggest__header-user-info{
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;
    padding-top: 4px;
    color: #262626;
    cursor: pointer;
}

.suggest__header-user-info p{
    padding-top: 4px;
    color: #8e8e8e;
    opacity: 0.9;
    font-weight: 400;
}

.suggest__list-item-user-text--active,
.suggest__list-item-user-text,
.suggest__header-text{
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 600;
    font-weight: 600;
    color: #0095f6;
    opacity: 0.8;
    cursor: pointer;
}
.suggest__list-item-user-text--active:hover,
.suggest__list-item-user-text:hover{
    color: #1f08f0;
}

.suggest__des{
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suggest__des span:nth-child(1){
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;
    color: #8e8e8e;
    letter-spacing: 0.3px;
    opacity: 0.9;
}

.suggest__des span:nth-child(2){
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 600;
    color: #262626;
    opacity: 0.9;
    cursor: pointer;
}

.suggest__list-item{
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suggest__list-item-user{
    display: flex;
    align-items: center;
}

.suggest__list-item-user img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 14px;
    cursor: pointer;
}

.suggest__list-item-user-info{
    display: flex;
    flex-direction: column;
}

.suggest__list-item-user-info span{
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;
    color: #262626;
    opacity: 0.9;
    padding-top: 2px;
    cursor: pointer;
}

.suggest__list-item-user-info span:nth-child(2){
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #8e8e8e;
    font-weight: 400;
    cursor: auto;
}

.suggest__footer{
    width: 100%;
}

.suggest__footer-info{
    color: #c7c7c7;
    font-size: 1.1rem;
    line-height: 1.1rem;
    margin-top: 26px;
}

.suggest__footer-info p {
    margin-top: 8px;
}

.suggest__footer-info span {
    display: block;
    text-transform: uppercase;
    margin-top: 20px;
}

.modal{
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    z-index: 100;
    overflow: hidden;
}

.modal__wrap{
    width: 400px;
    background-color: #fff;
    border-radius: 12px;
    margin: auto;
    overflow: hidden;
}

.modal__item{
    border: 1px solid rgb(219, 219, 219);
    padding: 4px 8px;
    text-align: center;
    list-style: none;
}

.modal__item:hover{
    background-color: #ebe9e9;
}

.modal__item-link{
    font-size: 1.4rem;
    line-height: 18px;
    color: #262626;
    display: block;
    padding: 10px 0;
    cursor: pointer;
}

.modal__item-link--active{
    color: #ed4956;
    font-weight: 700;
}

.navbar__list-item--create-wrap{

}

.navbar__list-item--create{
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color:  rgba(0,0,0,.85);
    display: flex;
    z-index: 100;
    overflow: hidden;
}

.create__icon{
    position: absolute;
    right: 30px;
    top: 22px;
    cursor: pointer;
}

.create__icon i{
    font-size: 3.4rem;
    color: #fff;
}

.create__main{
    width: 348px;
    background-color: #fff;
    border-radius: 12px;
    margin: auto;
    overflow: hidden;
}

.create__header{
    border-bottom: 1px solid rgb(219, 219, 219);
    display: block;
    font-size: 1.6rem;
    line-height: 43px;
    font-weight: 600;
    color: #262626;
    text-align: center;
}

.create__main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px 0;
}

.create__main-content-des{
    font-size: 2.2rem;
    color: #262626;
    font-weight: 300;
    padding: 28px 0;
}

.create__main-content-btn{
    background-color: #0095f6;
    border-radius: 4px;
    color: #fff;
    padding: 6px 9px;
    margin-top: 6px;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
}

.create__main-content-btn:hover{
    background-color: #5140ee;
}

.message{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 89px;
    /* position: relative; */
}

.message__wrap{
    width: 100%;
    max-width: 975px;
    display: grid;
    grid-template-columns: 38% 62%;
    overflow: hidden;
    padding: 0 10px;
}

.message__info{
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
    border-left: 1px solid rgb(219, 219, 219);
}

.message__detail{
    width: 98%;
    border: 1px solid rgb(219, 219, 219);
}

.message__info-header{
    border-bottom: 1px solid rgb(219, 219, 219);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message__info-header svg{
    margin-right: 18px;
    cursor: pointer;
    position: relative;
    transition: top linear 0.5s;
}

.message__info-header svg:hover{
    top: -4px;
}

.message__info-header-user{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex: 1;
}

.message__info-header-user h3{
    font-size: 1.6rem;
    color: #262626;
}

.message__info-header-user i{
    font-size: 1.5rem;
    margin-left: 10px;
}

.message__info-list{
    padding-top: 10px;
}

.message__info-item{
    padding: 8px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.message__info-item:hover{
    background-color: rgb(248, 246, 246);
}

.message__info-item-img{
    position: relative;
}

.message__info-item-img img{
    height: 56px;
    width: 56px;
    border-radius: 50%;
    margin-right: 14px;
}

.message__info-item-img-active{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    right: 14px;
    top: 36px;
    background-color: #78de45;
    border-radius: 50%;
    border: 3.5px solid #fff;
}

.message__info-item-text{
    display: flex;
    flex-direction: column;
}

.message__info-item-text span{
    display: block;
    font-size: 14px;
    line-height: 18px;
    color: #262626;
}

.message__info-item-text span:nth-child(2){
    color: #8e8e8e;
    font-weight: 300;
    padding-top: 2px;
}

.message__detail{
    display: flex;
    align-items: center;
    justify-content: center;
}

.message__detail-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message__detail-wrap-img{
    border: 3px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.message__detail-wrap-img img{
    width: 58px;
    height: 58px;
    margin-top: 8px;
}

.message__detail-wrap h2{
    font-size: 2.2rem;
    line-height: 26px;
    color: #262626;
    font-weight: 300;
    margin: 16px 0 8px 0;
}

.message__detail-wrap h3{
    font-size: 1.4rem;
    line-height: 18px;
    color: #8e8e8e;
    font-weight: 300;
    margin-bottom: 24px;
    text-align: center;
}

.message__detail-wrap button{
    background-color: #0095f6;
    color: white;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 6px 9px;
    cursor: pointer;
}

.message__detail-wrap button:hover{
    background-color: #5140ee;
}

.creatmess{
    position: fixed;
    background-color: rgba(0,0,0,.65);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.creatmess__wrap{
    width: 400px;
    background-color: #fff;
    border-radius: 12px;
}

.creatmess__header{
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.creatmess__header i{
    font-size: 1.7rem;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.creatmess__header i:hover{
    color: red;
    transform: rotate(90deg);
}
.creatmess__search span,
.creatmess__header h3{
    font-size: 1.6rem;
    color: #262626;
    font-weight: 600;
}

.creatmess__header span{
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #0095f6;
    opacity: 0.4;
    cursor: pointer;
}

.creatmess__search{
    height: 55px;
    border-bottom: 1px solid rgb(219, 219, 219);
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.creatmess__search input{
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-left: 34px;
}

.creatmess__search input::placeholder{
    color: #dbdbdb;
}

.creatmess__list{
    padding-bottom: 20px;
}   

.creatmess__list h2{
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 20px 16px 10px 16px;
}

.creatmess__list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px 8px 16px;
}

.creatmess__list-item:hover{
    background-color: rgb(248, 246, 246);
}

.creatmess__list-item input{
    transform: scale(1.7);
    margin-right: 20px;
}

.creatmess__list-item-info {
    display: flex;
    align-items: center;
}

.creatmess__list-item img{
    height: 44px;
    width: 44px;
    border-radius: 50%;
    margin-right: 12px;
}

.creatmess__list-item-text{
    display: flex;
    flex-direction: column;
}

.creatmess__list-item-text span{
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #262626;
    font-weight: 600;
}

.creatmess__list-item-text span:nth-child(2){
    color: #8e8e8e;
    font-weight: 400;
    margin-top: 4px;
}

.navbar__list-item--notify{
    position: relative;
}

.notify{
    position: absolute;
    width: 483px;
    max-height: 362px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--white-color);
    border-radius: 4px;
    top: 41px;
    right: -41px;
    animation: fadeIn ease 0.5s;
    z-index: 10;
    box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
}

@keyframes fadeIn {
    from { 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.notify::before{
    position: absolute;
    content: "";
    right: 55px;
    top: -8px;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    transform: rotate(45deg);
}

.notify__wrap{
    overflow-y: auto;
    max-height: 362px;
}
.notify__wrap2{
    /* overflow-y: auto; */
    max-height: 362px;
}

.notify__wrap2::-webkit-scrollbar{
    width: 12px;
}

.notify__wrap2::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}

.notify__wrap2::-webkit-scrollbar-thumb{
    background-color: rgb(214, 195, 195);
}

.notify__wrap h2{
    display: block;
    font-size: 1.4rem;
    line-height: 18px;
    padding: 10px 12px 0 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.notify__item{
    margin-top: 8px;
    display: flex;
    align-items: center;
    padding: 0 12px 10px 12px;
}

.notify__item img{
    border-radius: 50%;
    width: 54px;
    height: 54px;
    margin-right: 16px;
    cursor: pointer;
}

.notify__item p{
    font-size: 1.4rem;
    line-height: 14px;
    margin-right: 6px;
}

.notify__item p span{
    margin-right: 6px;
    color: #262626;
    font-weight: 600;
    cursor: pointer;
}

.notify__item span{
    font-size: 1.4rem;
    line-height: 14px;
    color: #8e8e8e;
    font-weight: 300;
}

.notify__item .notify__item-img{
    border-radius: unset;
    width: 54px;
    height: 54px;
    margin-left: 136px;
    margin-right: 0;
    z-index: 2;
    object-fit: cover;
    cursor: pointer;
}

.notify__item .notify__item-img2{
    border-radius: unset;
    margin-left: 101px;
    margin-right: 0;
    object-fit: cover;
    z-index: 2;
}

.explore{
    width: 100%;
    margin-top: 89px;
    display: flex;
    justify-content: center;
}

.explore__wrap{
    width: 100%;
    max-width: 975px;
    overflow: hidden;
    padding: 0 20px;
}

.explore__row{
    margin-bottom: 28px;
}

.explore__img1{
    width: 100%;
    padding-top: 100%;
    cursor: pointer;
}

.switch{
    position: fixed;
    background-color: rgba(0,0,0,.65);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.switch__wrap{
    width: 400px;
    border-radius: 12px;
    background-color: #fff;
}

.switch__header{
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: 600;
    color: #262626;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 6px 0;
}

.switch__list-item{
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.switch__list-item:hover{
    background-color: rgb(248, 246, 246);
}

.switch__list-item-user{
    display: flex;
    align-items: center;
}

.switch__list-item--switch span,
.switch__list-item-user span{
    font-size: 1.4rem;
    line-height: 18px;
    font-weight: 600;
    color: #262626;
}

.switch__list-item img{
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin-right: 14px
}

.switch__list-item--switch{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.switch__footer{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: 500;
    color: #0095f6;
    text-align: center;
    padding: 13px 0;
    cursor: pointer;
}

.switch__footer:hover{
    font-weight: 600;
}

.footer{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.footer__wrap{
    margin: auto;
}

.footer__wrap-text{
    font-size: 1.6rem;
    line-height: 1.6rem;
    opacity: 0.8;
    font-style: italic;
    cursor: pointer;
}

.content__offer .slick-track{
    width: 1900px !important;
}