@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap');
:root{
    --white-color: #fff;
    --black-color: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
    scroll-behavior: smooth;
}

html{
    /* HACK 1rem = 10px*/
    font-size: 62.5%;
    line-height: 1.6px;
    scroll-behavior: smooth;
}

body{
    background-color: #FAFAFA;
    font-family: 'roboto', sans-serif;
    position: relative;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--white-color);
    z-index: 200;

    border-bottom: 1px solid rgb(219, 219, 219);
    display: flex;
    justify-content: center;
}

.navbar__wrap{
    width: 100%;
    max-width: 975px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logo{
    padding-top: 10px;
    cursor: pointer;
}

.navbar__input{
    width: 268px;
    height: 36px;
    background-color: #EFEFEF;
    border-radius: 8px;
    font-size: 1.6rem;
    color: rgb(142, 142, 142);
    margin-left: 169px;
    position: relative;
}

.search__logo{
    /* display: none; */
    padding-left: 16px;
}
.search__close{
    font-size: 1.2rem;
    cursor: pointer;
}

.search__input{
    height: 100%;
    background-color: #EFEFEF;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 40px;
    border-radius: 8px;
}

.hide{
    display: none !important;
}

.navbar__list{
    display: flex;
    justify-content: space-between;
}

.navbar__list-item{
    height: 24px;
    width: 24px;
    margin: 0 11px;
    cursor: pointer;
}

.navbar__list-user{
    height: 24px;
    width: 24px;
    background-color: red;
    border-radius: 50%;
    display: inline;
    text-align: center;
}

.navbar__user{
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    object-fit: cover;
    position: relative;
}

.search__history{
    width: 375px;
    height: 362px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--white-color);
    border-radius: 4px;
    padding: 12px 0;
    top: 48px;
    position: absolute;
    right: -52px;
    /* display: none; */
    animation: fadeIn ease 0.5s;
    z-index: 200;
    box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
}

@keyframes fadeIn {
    from { 
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.search__history::before{
    position: absolute;
    content: "";
    right: 174px;
    top: -8px;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    transform: rotate(45deg);
}


.search__history-header{
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
}

.search__history-header--recently{
    font-size: 1.6rem;
    line-height: 24px;
    color: var(--black-color);
}

.search__history-header--clear{
    font-size: 1.4rem;
    line-height: 24px;
    color: #0095f6;
    font-weight: 600;
    cursor: pointer;

}
.search__history-header--clear:hover{
    color: #113af0;
}

.search__history-list{
    padding: 16px 16px 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.search__history-list:hover{
    background-color: rgb(248, 246, 246);
}

.search__history-list-img{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.search__history-list--info{
    display: flex;
    flex-direction: column;
}

.search__history-list--info span{
    margin-right: 140px;
}

.search__history-list--info span:nth-child(1){
    color: black;
}

.search__history-list--info span:nth-child(2){
    padding-top: 18px;
    color: #8e8e8e;
}

.search__history-list--icon{
    margin-right: 10px;
}

.search__history-list--icon:hover{
    font-size: 1.8rem;
    color: red;
    transform: rotate(90deg);
}

.navbar__user-wrap{
    position: relative;
}

.navbar__login{
    position: absolute;
    width: 230px;
    top: 42px;
    right: -22px;
    background-color:var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
}

.navbar__login-item{
    cursor: pointer;
    padding: 8px 16px;
}

.navbar__login-item:hover{
    background-color: rgb(248, 246, 246);
}

.navbar__login-icon{
    margin-right: 12px;
    font-size: 1.6rem;
}

.navbar__login-text{
    font-size: 1.4rem;
    line-height: 18px;
}

.navbar__login-out{
    display: block;
    width: 100%;
    padding: 12px 16px;
    font-size: 1.4rem;
    line-height: 18px;
    border-top: 2px solid #dbdbdb;
    cursor: pointer;
}

.navbar__login-out:hover{
    background-color: rgb(248, 246, 246);
}

.navbar__login::before{
    position: absolute;
    content: "";
    right: 38px;
    top: -8px;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    transform: rotate(45deg);
}

.container{
    width: 100%;
    margin-top: 89px;
    display: flex;
    justify-content: center;
}

.container__wrap{
    width: 100%;
    max-width: 975px;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-gap: 28px;
    overflow: hidden;
    padding: 0 10px;
} 

.content__header{
    width: 100%;
    border: 1px solid rgb(219, 219, 219);
    margin-bottom: 24px;
}

.content__header-slider{
    width: 100%;
    height: 116px;
    padding-left: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.content__header-item{
    padding: 0 10px;
}

.content__header-img{
    border: 3px solid rgb(196, 89, 89);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
}

.content__header-img img{
    height: 52px;
    width: 52px;
    right: 1px;
    top: 1px;
    position: absolute;
    border-radius: 50%;
}

.content__header-title{
    color: #262626;
    font-size: 1.2rem;
    line-height: 12px;
    padding-top: 10px;
    font-weight: 400;
}


.content__main{
    margin-bottom: 24px;
    border: 1px solid rgb(219, 219, 219);
}

.content__main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
}

.content__main-header-info{
    display: flex;
    align-items: center;
}

.content__main-header-logo{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgb(224, 85, 85);
    cursor: pointer;
}
.content__main-header-logo img{
    width: 100%;
    object-fit: contain;
}

.content__main-header-text{
    font-size: 1.4rem;
    padding-left: 14px;
    color: #262626;
    font-weight: 600;
}

.content__main-header-textwrap{
    display: flex;
    align-items: center;
}

.content__main-header-verified{
    width: 14px;
    height: 14px;
    margin-left: 8px;
}

.content__main-header-icon{
    font-size: 1.3rem;
    cursor: pointer;
}

.content__main-des{
    margin-top: 4px;
}

.content__main-des-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px;
}

.content__main-des-icon--interact{
    position: relative;
}

.content__main-des-icon--interact svg{
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin: 0 8px;
}

.content__main-des-icon--interact-wrap{
    padding-left: 42px;
}

.content__main-des-icon--save svg:hover,
.content__main-des-icon--interact svg:hover{
    opacity: 0.5;
}

.love_active{
    color: rgb(237, 73, 86);
    fill: rgb(237, 73, 86);
    font-size: 24px;
    cursor: pointer;
    margin: 0 8px;
    position: absolute;
    padding-top: -13px;
    top: 1px;
    right: 84px; 
}

.love{
    font-size: 24px;
    cursor: pointer;
    margin: 0 8px;
    position: absolute;
    padding-top: -13px;
    top: 1px;
    right: 84px;
}

.content__main-des-icon--save svg{
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin: 0 8px;
}

.content__main-des-cmt{
    width: 100%;
    padding: 0 16px;
}

.content__main-des-cmt span{
    display: block;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #262626;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 600;
}

.content__main-des-name{
    display: inline-block !important;
    margin-right: 5px;
    padding-top: 2px !important;

}

.content__main-des-cmt p{
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.content__main-des-cmt h2{
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #8e8e8e;
    padding-bottom: 16px;
    padding-top: 10px;
    font-weight: 400;
}

.content__main-des-cmt h3{
    font-size: 1rem;
    line-height: 1rem;
    color: #8e8e8e;
    padding-bottom: 16px;
    font-weight: 400;
}

.content__main-des-footer{
    width: 100%;
    border-top: 1px solid rgba(var(--ce3,239,239,239),1);
    padding: 14px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__main-des-footer-cmt{
    display: flex;
    align-items: center;
}

.content__main-des-footer-cmt input{
    color: #8e8e8e;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding-left: 16px;
}

.content__main-des-footer--icon{
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.content__main-des-footer span{
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #0095f6;
    opacity: 0.4;
    cursor: pointer;
}

.content__offer{
    border: 1px solid rgb(219, 219, 219);
    margin-bottom: 24px;
    padding: 20px 0;
}

.content__offer-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.content__offer-header span{
    display: block;
}

.content__offer-header span:nth-child(1){
    color: #8e8e8e;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 18px;
    opacity: 0.9;
}

.content__offer-header span:nth-child(2){
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 600;
    font-weight: 600;
    color: #0095f6;
    opacity: 0.8;
    cursor: pointer;
}

.content__offer-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 14px;
}

.content__offer-item{
    border: 1px solid rgb(219, 219, 219);
    width: 174px !important;
    max-width: 33.3333%;
    margin-left: 13px;
    margin-right: 13px;
}

.content__offer-item span{
    color: #8e8e8e;
    font-size: 1.2rem;
    line-height: 12px;
    display: block;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 4px;
}

.content__offer-item--btn{
    width: 75%;
    display: flex;
    margin: 20px auto;
}

.content__button{
    background-color: #0095f6;
    color: white;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 6px 35px;
    cursor: pointer;
}

.button__active{
    background-color: white;
    color: #262626;
    border: 1px solid rgb(219, 219, 219);
    padding: 6px 18px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
}

.content__offer-close{
    display: flex;
    justify-content: flex-end;
    padding: 12px 12px 0 0;
    color: #8e8e8e;
    cursor: pointer;
}

.content__offer-close i:hover{
    color: red;
    transform: rotate(90deg);
}

.content__offer-img{
    width: 54px !important; 
    height: 54px;
    border-radius: 50%;
    margin: auto;
}

.content__offer-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.content__offer-info span{
    font-size: 1.4rem;
    line-height: 16px;
    color: #262626;
    font-weight: 600;
}

.content__offer-info img{
    width: 14px;
    height: 14px;
    margin: 0 0 2px 6px;
}

.suggest{
    width: 90%;
    padding-top: 20px;
}

.suggest__main{
    position: fixed;
    width: 300px;
}

.suggest__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggest__header-user{
    display: flex;
    align-items: center;
}

.suggest__header-user img{
    height: 56px;
    width: 56px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgba(209, 61, 61, 0.822);
    margin-right: 20px;
    cursor: pointer;
}
.suggest__header-user-info{
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;
    padding-top: 4px;
    color: #262626;
    cursor: pointer;
}

.suggest__header-user-info p{
    padding-top: 4px;
    color: #8e8e8e;
    opacity: 0.9;
    font-weight: 400;
}

.suggest__list-item-user-text--active,
.suggest__list-item-user-text,
.suggest__header-text{
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 600;
    font-weight: 600;
    color: #0095f6;
    opacity: 0.8;
    cursor: pointer;
}
.suggest__list-item-user-text--active:hover,
.suggest__list-item-user-text:hover{
    color: #1f08f0;
}


.suggest__des{
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suggest__des span:nth-child(1){
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;
    color: #8e8e8e;
    letter-spacing: 0.3px;
    opacity: 0.9;
}

.suggest__des span:nth-child(2){
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 600;
    color: #262626;
    opacity: 0.9;
    cursor: pointer;
}

.suggest__list-item{
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suggest__list-item-user{
    display: flex;
    align-items: center;
}

.suggest__list-item-user img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 14px;
    cursor: pointer;
}

.suggest__list-item-user-info{
    display: flex;
    flex-direction: column;
}

.suggest__list-item-user-info span{
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;
    color: #262626;
    opacity: 0.9;
    padding-top: 2px;
    cursor: pointer;
}

.suggest__list-item-user-info span:nth-child(2){
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #8e8e8e;
    font-weight: 400;
    cursor: auto;
}

.suggest__footer{
    width: 100%;
}

.suggest__footer-info{
    color: #c7c7c7;
    font-size: 1.1rem;
    line-height: 1.1rem;
    margin-top: 26px;
}

.suggest__footer-info p {
    margin-top: 8px;
}

.suggest__footer-info span {
    display: block;
    text-transform: uppercase;
    margin-top: 20px;
}











.footer{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.footer__wrap{
    margin: auto;
}

.footer__wrap-text{
    font-size: 1.6rem;
    line-height: 1.6rem;
    opacity: 0.8;
    font-style: italic;
    cursor: pointer;
}

